extends layout

block content
  div#content

block scripts
  script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
  script(type='text/javascript',src='/js/libs/jquery.js')
  script(type='text/javascript',src='/js/libs/bootstrap.min.js')
  script(type='text/javascript',src='/js/libs/bootstrap.validate.js')
  script(type='text/javascript',src='/js/libs/bootstrap.validate.en.js')