<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="#">Домашня</a></li>
            <li><a href="#about">Про нас</a></li>
            <li class="active"><a href="#mailUs">Контакти</a></li>
        </ul>
        <a href="http://sumdu.edu.ua"><img class="logo" src="img/res/logo_sumdu_top.png"></a>
        <a href="#" class="no-text-decoration"><h3 class="muted">СумДУ Випускник</h3></a>
    </div>

    <hr>

    <div class="jumbotron">
        <img class="head-small-logo" src="img/res/student-hat.png">
        <h1>АІС Випускник!</h1>
        <div class="row-fluid marketing">
            <div class="span6">
                <h4>Контакти</h4>
                <p>Телефон: +380995566780</p>
                <p>Адреса: м.Суми,<br>вул. Римского-Корсакова 14</p>
            </div>

            <div class="span6">
                <h4>Прийняти участь</h4>
                <p>Якщо в Вас виникли запитання чи Ви хочете прийняти участь у программі, надішліть листа через контактну форму, яка знаходиться нижче.</p>
            </div>

            <div class="span12">
                <h4>Щоб прийняти участь у программі надішліть персональні дані і контактний телелфон. Ми зв'яжемось з Вами в найкоротші сроки.</h4>
            </div>
        </div>

        <form class="form-signin" id="form-send-msg">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" class="input-block-level" placeholder="Email">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-bell"></i></span>
                <input type="text" class="input-block-level" placeholder="Телефон">
            </div>

            <textarea id="input-textarea" placeholder="Введіть персональні дані" rows="4"></textarea>
            <br>
            <button class="btn btn-small btn-primary" id="send-btn" type="submit">Відправити</button>
        </form>
    </div>

    <hr>

    <div class="footer">
        <p class="text">© Сумський Державний Університет 2013</p>
        <p class="mail"><a href="#"><i class="icon-envelope"></i></a></p>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<div id="sbi_camera_button" class="sbi_search" style="left:0px;top:0px;position:absolute;width:29px;height:27px;border:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;z-index:2147483647;display:none;"></div></body></html>